.input_a {
    background-color: #fff;
    color: #000;
    border: 1px solid #c4cad1;
    font-family: "돋움", "굴림", "verdana", "arial";
    font-size: 9pt;
    padding: 2px 0 0 3px
}

.select_a {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    font-size: 9pt
}

.textarea_a {
    background-color: #fff;
    color: #000;
    border-width: 1px;
    border-color: #c4cad1;
    border-style: solid;
    font-family: "돋움", "굴림", "verdana", "arial";
    font-size: 9pt;
    overflow: auto
}

.input_b {
    background-color: #3d3d3d;
    color: #dadada;
    border: 1px solid #7e7e7e;
    font-family: "돋움", "굴림", "verdana", "arial";
    font-size: 9pt;
    padding: 2px 0 0 3px
}

.select_b {
    background-color: #3d3d3d;
    color: #dadada;
    border: 1px solid #7e7e7e;
    font-size: 9pt
}

.textarea_b {
    background-color: #3d3d3d;
    color: #dadada;
    border-width: 1px;
    border-color: #7e7e7e;
    border-style: solid;
    font-family: "돋움", "굴림", "verdana", "arial";
    font-size: 9pt;
    overflow: auto
}

.sp_block_on {
    border: 1px solid #a1a1a1;
    font-weight: bold
}

.sp_block_off {
    border: 0;
    font-weight: bold
}

.sp_block2_on {
    border: 1px solid #a1a1a1
}

.sp_block2_off {
    border: 0
}

.sp_block_now {
    border: 1px solid #acacac
}

.sp_block_now_font {
    font-weight: bold;
    color: #acacac
}

.ui-pagenate a, .ui-pagenate strong {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 9px;
    vertical-align: middle;
    margin: 0 2px
}

.ui-pagenate a {
    border: 1px solid #ccc;
    text-decoration: none;
    color: #555
}

.ui-pagenate a:hover {
    text-decoration: none
}

.ui-pagenate a.txt {
    font-weight: 800;
    font-size: 11px;
    font-family: Tahoma, Sans-Serif;
    letter-spacing: -3px
}

.ui-pagenate strong {
    color: #111;
    font-size: 14px
}

body {
    margin: 0;
    padding: 0
}

.ibtn {
    display: inline-block;
    padding: .5em 1em .5em 1em;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: .5em;
    font-weight: bold;
    color: #555;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    background: #eee;
    background: -webkit-linear-gradient(#fff, #e8e8e8);
    background: linear-gradient(#fff, #e8e8e8)
}






.blind {overflow: hidden; position: absolute; width: 1px; height: 1px; font-size: 12px; clip: rect(1px, 1px, 1px, 1px);}
/*.container {max-width: 620px; margin: 0 auto;}*/
.container a {text-decoration: none; color: inherit;}
/*.container a:focus {outline: 1px dashed #999;}*/

.container .item-box .item-img {display: flex; margin-top: 20px;}
.container .item-box .item-img a {display: block; width: 300px; border: 1px solid #fd8302;}
.container .item-box .item-img a:nth-child(2n + 2) {margin-left: 20px;}
.container .item-box .item-img a img {display: block; width: 100%;}

.container .img-popup {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.9); visibility: hidden; opacity: 0; transition: all 0.3s; z-index: 10000;}
.container .img-popup.active {visibility: visible; opacity: 1;}
.container .img-popup .popup-inner {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 900px; width: 900px; max-height: 800px; overflow-x: auto;}
.container .img-popup .popup-inner > img {display: block; width: 100%; margin: 0 auto; overflow-y:scroll;}
/*.container .img-popup .popup-inner .close-btn {display: flex; display: -webkit-flex; display: -ms-flexbox; position: absolute; top: -36px; left: 50%; transform: translateX(-50%); width: 40px; height: 40px; border-radius: 0%; background-color: #fd8302; justify-content: center; align-items: center; color: #fff; font-size: 30px;}
.container .img-popup .popup-inner .close-btn::before {content: ''; display: inline-block; width: 26px; height: 26px; background: url("../img_up/shop_pds/joinoffice/icon_close.png") no-repeat center; transition: all 0.3s;}
.container .img-popup .popup-inner .close-btn:hover::before {transform: rotate(180deg);}
.img-layer-wrap .img-layer-inner .close-btn:hover::before, .img-layer-wrap .img-layer-inner .close-btn:focus::before {
    transform: rotate(180deg);
}
@media (max-width:991px) {
    .container .img-popup .popup-inner {width: 90%;}
    .container .img-popup .popup-inner .close-btn {width: 50px; height: 50px; top: -26px;}
    .container .img-popup .popup-inner .close-btn img {width: 20px;}
}
*/
.container .img-popup .close-btn {display: flex; display: -webkit-flex; display: -ms-flexbox; position: absolute; top: 28px; left: 50%; transform: translateX(-50%); width: 40px; height: 40px; border-radius: 0%; background-color: #fd8302; justify-content: center; align-items: center; color: #fff; font-size: 30px;z-index: 10001;}
.container .img-popup .close-btn::before {content: ''; display: inline-block; width: 26px; height: 26px; background: url("../img_up/shop_pds/joinoffice/icon_close.png") no-repeat center; transition: all 0.3s;}
.container .img-popup .close-btn:hover::before {transform: rotate(180deg);}
.img-layer-wrap .img-layer-inner .close-btn:hover::before, .img-layer-wrap .img-layer-inner .close-btn:focus::before {
    transform: rotate(180deg);
}


@media (max-width:991px) {
    .container .img-popup .popup-inner {width: 90%;}
    .container .img-popup .close-btn {width: 50px; height: 50px; top: 36px;}
    .container .img-popup .close-btn img {width: 20px;}
}

#toggle_right { visibility: hidden;!important; display: none;}

